.advantages {
  margin-top: var(--padding-default);
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--bg-color);
  z-index: 2;
  gap: var(--padding-default);

  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 1000px) {
    margin-top: 0;
  }
}
