.framer {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1rem 1.5rem 0.8rem;
  white-space: nowrap;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transition: var(--transition);
  border-radius: calc(var(--border-radius) / 2);
}

/* Pierwszy button (początkowy) */
.button {
  background-color: var(--accent);
  color: var(--bg-color);
  border: 2px solid var(--accent);
  // border: 2px solid var(--bg-color);
  &:hover {
    background-color: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);
  }
}

.outline {
  background-color: transparent;
  border: 2px solid var(--bg-color);
  &:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
}

/* Drugi button (ten spod spodu) */
